{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container col s12 m10">
        <div class="row">
            <div class="col s12">
                <hr>
                <h2>Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {% if bag_items %}
                    <div class="table">
                        <table>
                            <thead class="text-black">
                            <tr>
                                <th>Product Info</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th class="right-align subtotal">Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in bag_items %}
                                <tr>
                                    <td>
                                        <p><strong>{{ item.product.name }}</strong></p>
                                        <p>SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td>
                                        <p>€{{ item.product.price }}</p>
                                    </td>
                                    <td>
                                        <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}"
                                              method="POST">
                                            {% csrf_token %}
                                            <div class="input-group">
                                                <input class="form-control qty_input" type="number" name="quantity"
                                                       value="{{ item.quantity }}"
                                                       min="1" max="99" data-item_id="{{ item.item_id }}"
                                                       id="id_qty_{{ item.item_id }}">
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                                           data-size="{{ item.size }}"><small>Remove</small></a>
                                    </td>
                                    <td class="right-align subtotal">
                                        <p>€{{ item.product.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td class="right-align subtotal">
                                    <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                    <h4><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p>
                                            You could get free delivery by spending just
                                            <strong>€{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="right-align subtotal">
                                    <a href="{% url 'products' %}" class="btn waves-effect">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span>Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn waves-effect blackbutton">
                                        <span>Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
<!--Remove item from bag and csrf token-->
{% block postloadjs %}
    <script type="text/javascript">
        $('.remove-item').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        })
    </script>
{% endblock %}