{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2>Thank You</h2>
                <hr>
                <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 lg6"></div>
        </div>
        <div class="row">
			<div class="col s12 lg6 text-right">
				<a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn blackbutton">
					<span class="icon mr-2">
						<i class="fas fa-gifts"></i>
					</span>
					<span class="text-uppercase">Now check out the latest deals!</span>
				</a>
			</div>
		</div>
    </div>
{% endblock %}