body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    font-family: 'Great Vibes', cursive;
}

.cart {
    margin-right: 14px;
    margin-top: 0px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.card .card-image img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
    margin-left: 1rem !important
}

.checkoutbutton{
  background-color: black;
}
.subtotal{
    max-width: 100px;
}
.shoppingbuttons{
    width: 100%;

}