{% load static %}

<!doctype html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e00e7c8f1c.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Castle Vapes {% block extra_title %}{% endblock %}</title>
</head>
<body>
<header>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <li><a href="" class="black-text">Product Management</a></li>
            {% endif %}
            <li><a href="" class="black-text">My Profile</a></li>
            <li><a href="{% url 'account_logout' %}" class="black-text">Logout</a></li>
        {% else %}
            <li><a href="{% url 'account_signup' %}" class="black-text">Register</a></li>
            <li><a href="{% url 'account_login' %}" class="black-text">Login</a></li>
        {% endif %}
    </ul>
    <nav class="white">
        <div class="nav-wrapper">
            <p class="right cart"><a
                    class="{% if grand_total %}text-info font-weight-bold{% else %}black-text{% endif %}"
                    href=""><i class="fas fa-shopping-cart fa-lg black-text"></i>
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </a></p>
            <a href="{% url 'home' %}" class="brand-logo center black-text">Castle Vapes</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="black-text" href="{% url 'products' %}">Shop</a></li>
                <li><a class="black-text" href="">About Us</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger black-text" data-target="dropdown1">Login<i
                        class="material-icons right black-text">arrow_drop_down</i></a></li>

            </ul>

        </div>


    </nav>
    <!-- Mobile sidebar -->
    <ul class="sidenav black-text" id="mobile-demo">
        <li><a class="black-text" href="{% url 'products' %}">Shop</a></li>
        <li><a class="black-text" href="">About Us</a></li>
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <li><a href="" class="black-text">Product Management</a></li>
            {% endif %}
            <li><a href="" class="black-text">My Profile</a></li>
            <li><a href="{% url 'account_logout' %}" class="black-text">Logout</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}" class="black-text">Login</a></li>
            <li><a href="{% url 'account_signup' %}" class="black-text">Register</a></li>
        {% endif %}
    </ul>

</header>

{% if messages %}
{% endif %}

{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block postloadjs %}
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Materialize - Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Main JavaScript file -->
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}


</body>
</html>