{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Products</h2>
    <div class="container col s12 m10 offset-m1 grey-text text-darken-2 content-container ">
        <div class="row">
            <div class="col s5 m3">
                <!-- Dropdown Trigger -->
                <a class='dropdown-trigger btn grey lighten-1' href='#' data-target='dropdown2'>Categories</a>
                <!-- Dropdown Structure -->
                <ul id='dropdown2' class='dropdown-content'>
                    <li><a href="{% url 'products' %}?category=woodresin">Wood and resin mods</a></li>
                    <li><a href="{% url 'products' %}?category=metal">Metal mods</a></li>
                    <li><a href="{% url 'products' %}?category=plastic">Plastic mods</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="{% url 'products' %}?category=deals">Special Offers</a></li>
                    <li><a href="{% url 'products' %}?category=new_arrivals">New Arrivals</a></li>
                    <li><a href="{% url 'products' %}">Show All</a></li>
                </ul>
            </div>
            <div class="col s2 m6"></div>
            <div class="col s5 m3">
                <select id="sort-selector"
                        class="browser-default {% if current_sorting != 'None_None' %}info{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                    </option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low
                        to high)
                    </option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                        (high to low)
                    </option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating
                        (low to high)
                    </option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating
                        (high to low)
                    </option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                        (Z-A)
                    </option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                        Category (A-Z)
                    </option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                        Category (Z-A)
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            {% for product in products %}
                <div class="col s12 m6 l6 xl4">
                    <div class="card">
                        {% if product.image %}
                            <div class="card-image">
                                <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}"
                                                                                     alt=" {{ product.name }}"></a>
                            </div>
                        {% else %}
                            <div class="card-image">
                                <a href="{% url 'product_detail' product.id %}"><img
                                        src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ product.name }}"></a>
                            </div>
                        {% endif %}
                        <div class="card-content">
                            <h6> {{ product.name }}</h6>
                            <p class="grey-text">${{ product.price }}</p>
                            {% if product.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                    5</small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <small>
                                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a class="red-text" href="{% url 'delete_product' product.id %}">Delete</a>
                                </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}