{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Products</h2>
    <div class="container col s12 m10 grey-text text-darken-2 content-container ">
        <div class="row">
            <div class="col s12 m4 offset-m2">
                <div>
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                 alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col s12 m4">
                <div>
                    <p>{{ product.name }}</p>
                    <p>${{ product.price }}</p>
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
